<html>
    <head>
        <title>{{ nome }}</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <div class="titulo">
            <h1>{{ nome }}</h1>
        </div>
        <div class="novo">
            <a href="/novo">novo aluno</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>                    
                </tr>
            </thead>
            <tbody>
                {% for a in lista %}
                <tr>
                    <td>{{ a.nome_completo() }}</td>
                    <td>{{ a.telefone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>