<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/novo.css">
    </head>
    <body>
        <h1>Novo aluno</h1>
        <form action="/salvar" method="POST">
            <label for="">Nome: </label>
            <input type="text" name="nome"><br/>
            <label for="">Sobrenome: </label>
            <input type="text" name="sobrenome"><br/>
            <label for="">Telefone: </label>
            <input type="text" name="telefone"><br/>
            <hr />
            <input type="submit" value = "salvar">
        </form>
    </body>
</html>